.CurrentUserProfile {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: lightgray;
  font-family: "Lexend Deca", sans-serif;
}

.Profile-Container {
  width: 60vw;
  margin-top: 75px;
  background: white;
  padding: 10px 10px 10px 10px;
  margin-bottom: 75px;
  border-radius: 4px;
}

.Profile_Img {
  display: flex;
  width: 100%;
}

.Profile_Img > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 6px
}

.Profile_Img > div > div {
  height: 50%;
  display: flex;
  border-radius: 6px
}

#right_top {
  border-radius: 6px;
}

.left_img {
  height: 50%;
  display: flex;
  border-left: 10px white solid;
  border-radius: 6px;
}

.left_img:nth-child(1) {
  border-bottom: 5px white solid;
}

.left_img:nth-child(2) {
  border-top: 5px white solid;
  border-radius: 6px
}

.right_bottom {
  border-top: 10px white solid;
  border-radius: 6px;
}

.Profile_User,
.Profile_Info_Short {
  text-align: left;
  margin-top: 10px;
}

.Profile_User:nth-child(2) {
  font-weight: bolder;
  font-size: 20pt;
}

.Profile_User > span {
  font-size: 14pt;
  font-weight: normal;
}

.Profile_User {
  font-weight: bold;
  font-size: 17pt;
}

img {
  max-width: 100%
}

#left_img {
  max-width: 125%;
  max-height: 150%
}

.Border {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.Profile_Desc {
  text-align: justify;
  padding-top: 20px;
  line-height: 20pt;
}

button {
  background: lightgrey;
  padding: 7px;
  border-radius: 4px;
  border: none;
}
