.CurrentUserProfile {
  width: 100vw;
  display: flex;
  justify-content: center;
  background: lightgray;
  font-family: "Lexend Deca", sans-serif;
}

.Profile-Container {
  width: 70vw;
  margin-top: 75px;
  background: white;
  padding: 10px 10px 10px 10px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 4px;
}

.main_profile_image_container {
  display: flex;
  justify-content: center;
}

.profile_image {
  width: 70%;
  padding: 4px;
  border-radius: 6px;
}

.Profile_User,
.Profile_Info_Short {
  text-align: left;
  margin-top: 10px;
}

.Profile_User:nth-child(2) {
  font-weight: bolder;
  font-size: 20pt;
}

.Profile_User > span {
  font-size: 14pt;
  font-weight: normal;
}

.Profile_User {
  font-weight: bold;
  font-size: 17pt;
}

.Border {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.Profile_Desc {
  text-align: justify;
  padding-top: 20px;
  line-height: 20pt;
}

button {
  background: lightgrey;
  padding: 7px;
  border-radius: 4px;
  border: none;
}

@media (min-width: 400px) {
  .profile_image {
    width: 60%;
  }
}

@media (max-width: 600px) {
  #profile_image_two, #profile_image_three, #profile_image_four {
    display: none;
  }
}

@media (min-width: 600px) {
  .profile_image {
      width: 33vw;
      height: 32vh;
  }
}