.CurrentUserProfile {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
}

.Profile-Container {
  margin-bottom: 50px;
  width: 40vw;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.main_profile_image_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

textarea {
  font-size: 17pt;
}
.profile_image {
  width: 70%;
  padding: 4px;
  border-radius: 6px;
}

.Profile_User,
.Profile_Info_Short {
  text-align: left;
  margin-top: 10px;
}

.Profile_Info_Short {
  line-height: 20pt;
  text-transform: capitalize;
  letter-spacing: 0.5pt;
}

.Profile_User:nth-child(2) {
  font-weight: bolder;
  font-size: 20pt;
}

.Profile_User > span {
  font-size: 14pt;
  font-weight: normal;
}

.Profile_User {
  font-weight: bold;
  font-family: "Lexend Deca", sans-serif;
  font-size: 20pt;
  text-transform: uppercase;
  color: #00c59c;
}

.Border {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.Profile_Desc {
  text-align: justify;
  padding-top: 10px;
  line-height: 20pt;
  letter-spacing: 0.5pt;
}

.edit_input {
  padding-bottom: 5px;
  margin: 10px;
  width: 50%;
  border-bottom: 1px black solid;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 12pt;
  background: white;
}

.edit_dropdown {
  padding-bottom: 5px;
  margin: 10px;
  width: 50%;
  border: 1px black solid;
  font-size: 12pt;
  background: white;
}

.edit_desc {
  padding-bottom: 5px;
  margin: 10px;
  width: 95%;
  /* height: 100px; */
  border: 1px black solid;
  font-size: 12pt;
  text-align: center;
  line-height: 25px;
}

.Edit_text {
  font-size: 15pt;
  font-weight: bolder;
  text-transform: capitalize;
  color: #00c59a;
}

.Edit_Btns {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

button {
  margin-top: 20px;
  padding: 10px;
  font-size: 15px;
  background: #00c59a;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}

@media (min-width: 400px) {
  .carrousel {
    height: 500px;
  }
  .Profile-Container {
    width: 70vw;
  }
  .profileImg {
    width: auto;
    height: 300px;
    position: relative;
    top: -100px;
  }
}

@media (max-width: 600px) {
  #profile_image_two,
  #profile_image_three,
  #profile_image_four {
    display: none;
  }
}

@media (min-width: 600px) {
  .profile_image {
    width: 33vw;
    height: 32vh;
  }
}

body {
  font-family: Helvetica;
  font-weight: 400;
  background: #efefef;
}

.profile_box {
  margin-top: 20px;
}

.profileImg {
  width: auto;
  height: 500px;
  position: relative;
  top: -100px;
}

/*Carousel*/
.carrousel {
  /* background: blue; */
  text-align: center;
  padding: 4em 0;
  height: 425px;
  max-width: 750px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.carrousel h2 {
  margin: 0;
  margin-top: -1.7em;
  padding: 0;
  font-size: 1em;
  text-align: center;
  color: #bbbbbb;
}
.carrousel .slides {
  width: 400%;
  left: 0;
  padding-left: 0;
  padding-top: 1em;
  /* overflow: hidden; */
  list-style: none;
  position: relative;

  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
.carrousel .slides li {
  width: 25%;
  position: relative;
  float: left;
}
.carrousel li p {
  margin-top: 0;
}
.carrousel .slidesNavigation {
  display: block;
  list-style: none;
  text-align: center;
  bottom: 1em;
  position: absolute;
  width: 104px; /*This width  is the addition of the width of all the navigations dots - So in this case is   104 because the navigation dots are 26px (width:10px and 6px marginleft + 6 px marginright) and there are 4 dots so 4x26=104 */
  left: 50%;
  margin-left: -52px;
}
.carrousel input {
  display: none;
}
.carrousel .slidesNavigation label {
  float: left;
  margin: 3px;
  display: block;
  height: 13px;
  width: 13px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 2px #00c59c;
  font-size: 0;
}

#radio-1:checked ~ .slides {
  transform: translateX(0%);
}
#radio-2:checked ~ .slides {
  transform: translateX(-25%);
}
#radio-3:checked ~ .slides {
  transform: translateX(-50%);
}
#radio-4:checked ~ .slides {
  transform: translateX(-75%);
}

.carrousel .slidesNavigation label:hover {
  cursor: pointer;
}
/* You have to repeat this with each slide/dot */
.carrousel #radio-1:checked ~ .slidesNavigation label#dotForRadio-1,
.carrousel #radio-2:checked ~ .slidesNavigation label#dotForRadio-2,
.carrousel #radio-3:checked ~ .slidesNavigation label#dotForRadio-3,
.carrousel #radio-4:checked ~ .slidesNavigation label#dotForRadio-4 {
  background: #00c59c;
}

@media (max-width: 796px) {
  .carrousel {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .carrousel li p {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .carrousel li q {
    font-size: 1em;
  }
  .carrousel li img {
    width: 100%;
    height: 375px;
    position: relative;
    top: -100px;
  }
}
