.inbox-all{
  background: transparent;
  width: 100VW;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.inbox {
  background: white;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.inbox-left {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display:flex;
  flex-direction: column;
  justify-self: center;
  position: relative;
}

.new_msg {
  background: #00C59B;
  width: 100%;
  position: relative;
  top: -10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center
}

.inbox-right {
  width: 50%;
  text-align: left;
  margin-left: 30px;
}

.unread-messages{
  background: #00C59B;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 5%;
  left:79%;
  color: white;
  font-weight: bolder;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center
}

.delete-btn{
  width:100%;
  border: none;
  background: transparent;
  color: rgb(214, 253, 238);
  position: relative;
  /* top: 90px;
  right: 400px; */
  font-size: 10px;
  /* margin-left: 10px; */
  /* margin-right: 10px */
}

.delete-btn:hover{
  border: none;
  background: transparent;
  color: #28c7a4;
}

img {
  width: 100%;
  height: 100%;
}

#remove {
  background: gray;
}

#remove:hover {
  background: red;
}

@media (max-width: 414px) {
  .inbox {
    flex-direction: column;
  }
  .inbox-right {
    width: 100%;
    text-align: center;
    margin: auto;
    height: 35px;
  }

  .delete-btn{
    border: none;
    background: transparent;
    color: rgb(214, 253, 238);
    position: relative;
    top: 25px;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px
  }
  
  .delete-btn:hover{
    border: none;
    background: transparent;
    color: #28c7a4;
  }
}
