.inbox {
  background: white;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.inbox-left {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.new_msg {
  background: #00C59B;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: -150px;
  left: 110px;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center
}

.inbox-right {
  width: 75%;
  text-align: left;
  margin-left: 30px;
}

img {
  width: 100%;
  height: 100%;
}
