.chat_container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.chat {
  margin: auto;
  width:60vw;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.receiver-messages-container, .sender-messages-container {
  width: 100%;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  padding: 3px;
  margin-top: 5px;
  font-size: 10px;
}

.receiver-message-box, .sender-message-box {
  width: 50%;
  max-height: 100px;
  border: none;
  color: black;
  border-radius: 10px;
  padding: 5px;
  padding-left: 9px;
  text-align: left;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 15px;
  background: #EFEEEF;
}

.receiver-message-box {
  background: rgb(231, 233, 231);
  font-size: 13pt;
}

.sender-message-box {
  background: #28c7a4;
  border-radius: 10px;
  border: none;
  text-align: right;
  padding-right: 10px;
  color: white;
  font-size: 13pt;
  margin-right: 15px;
  align-self: flex-end;
}

.sender-delete-info, .receiver-delete-info {
  color: black;
  width: 100%;
  height: 15px;
  display: flex;
  align-items: center;
}

.sender-delete-btn, .receiver-delete-btn{
  border: none;
  background: transparent;
  color: rgb(214, 253, 238);
  position: relative;
  bottom: 5px;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px
}

.sender-delete-btn:hover{
  border: none;
  background: transparent;
  color: #28c7a4;
}

.receiver-delete-btn:hover{
  border: none;
  background: transparent;
  color: #28c7a4
}

.sender-delete-info {
  justify-content: flex-end;
}

.sender-name, .receiver-name {
  height: 10px;
  width: 5.6%;
  display: flex;
  font-size: 10px;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 5px; */
  font-style: italic;
  font-size: 10px;
}

.sender-name {
position: relative;
width: 6.3%;
right:36%;
}


.receiver-name {
  position: relative;
  left:36%;

}
/* 
.sender-delete-btn {
  width: 20%;
  color: rgb(230, 238, 230);
  border: none;  
  background: transparent;
  background: red;
  margin-right: 40px;
  align-self: flex-end
}

.sender-delete-btn:hover{
  color: rgb(71, 71, 71);
} 
.receiver-delete-btn:hover{
  color: rgb(71, 71, 71);
} 

.receiver-delete-btn {
  width: 40%;
  color: rgb(214, 223, 214);
  border: none;
  margin-left: 30px;
  background: transparent;
  align-self: flex-start;
} */


.input-send-message {
  height: 60px;
  width: 70%;
  border: solid 0.2px rgb(147, 164, 147);
  border-radius: 4px;
  font-size: 18px;
  background: #EFEEEF;
  border: 1px black solid;
}

.input-box-sendmsg {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-height: 300px;
}

.send-message_button {
  background: #01C69B;
  padding: 8px;
  color: white;
  font-size: 15pt;
  position: relative;
    bottom: 10px;
}

.send-message_button:hover {
  background: rgb(0, 163, 128);
}

@media (max-width: 414px) {
  .chat {
    width:70vw;
  }
  .input-send-message {
    width: 60%;
  }
  .send-message_button {
    background: #01C69B;
    color: white;
    font-size: 13pt;
    position: relative;
    bottom: 10px;
  }
}


