

.cover {
  position: absolute;
  height: 100%;
  width: 100%;

}

.home_profile_name {
  font-size: 30px;
  text-transform: uppercase
}

.home_profile_age {
  font-size: 20px;
}

.home_profile_image {
border: 10px white solid;
  border-radius: 4px;
  height: 475px;
  width: 380px;
}

.lower {
  /* background: blue; */
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 20px; 
}

#like {
  color:tomato
}

#meh {
  color: #00C59B
}
