.home_background_color {
  background: gray;
}

.name-age {
  width:100%;
  display: flex;
  justify-content: center;
  align-self: center;
  position: absolute;
  top: 84%;
  /* left:28%; */
  font-size: 20pt;
  pointer-events: none; 
}

#card{
  position:absolute;
}

.cards_container{
  position: relative;
  bottom: 70px;
}



.card-container{
  position: absolute;
  bottom: 200px;
  z-index: 2;
  background: white;
}

#like {
  color: red;
  font-size: 25pt;
}

#meh {
  color: #00C59A;
  font-size: 25pt;
}

.heartbtns{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  pointer-events: none;
  align-items: flex-end;
  position: absolute;
  bottom: 6%;
  pointer-events: none; 
}