.home_background_color {
  background: gray;
}

.block {
  position: absolute;
  height: 65vh;
  width: 100vw;
  top: 18%;
  z-index: 2;
}

.home_profile_name, .home_profile_age {
  font-size: 30px;
}



.home_profile_image {
  margin-top: 20px;
  border-radius: 4px;
  height: 80%;
  width: 90%;
}
