.home_background_color {
  background: gray;
}

.block {
  position: absolute;
  height: 65vh;
  width: 100vw;
  top: 18%;
  z-index: 2;
}

.home_profile_name {
  font-size: 20pt;
}

.home_profile_age {
  font-size: 14pt;
  font-style: italic;
}

.home_profile_image {
  margin-top: 20px;
  border-radius: 4px;
  height: 490px;
  width: 90%;
}

#like {
  color: red;
  font-size: 25pt;
}

#meh {
  color: #00C59A;
  font-size: 25pt;
}

.lower {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
}
