@import url("https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap");
body {
  font-family: "Lexend Deca", sans-serif;
}

.header-container {
  width: 100vw;
  height: 75px;
  /* position: absolute; */
  /* background: #3b559e; */
  background: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  /* box-shadow; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.matches-container{
  display: flex;
}

.new_msg_inbox{
  background: #00C59B;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  top: 13px;
  right: 14px;
  color: white;
  font-weight: bolder;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center
}

.header-container > div {
  width: 100%;
  /* background: green; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.loggedin-header {
  width: 100vw;
  height: 75px;
  background: white;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main_header {
  text-transform: uppercase;
  color: black;
  text-align: right;
  
}

.logo {
  max-height: 65px;
  width: auto;
  text-align: center;
}

#hamburger {
  margin-left: 25px;
  font-size: 30px;
  color: #00c59a;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-right {
margin-right: 25px;
max-height: 65px;
  width: auto;
  }

#circle {
  font-size: 9pt;
  position: relative;
  bottom: 4px;
  color: #00c59a;
}

.logo_container > span {
  font-size: 20pt;
  text-transform: uppercase;
  letter-spacing: 2pt;
}
a {
  color: #00c59a;
  text-decoration: none;
}

.hamburger-links {
  font-size: 16pt;
  padding: 15px;
  padding-left: 20px;
  text-align: left;
  text-decoration: none;
}

.hamburger-links:hover {
    background: #efefefe0;
    color: black;
  }

.menu {
    width: 100%;
}
