body {
  color: #383838;
}

.about_you_header {
  text-align: center;
  text-decoration: underline;
  color: #04dbac;
}

.form_container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#height, #hair_color, #gender, #profile_image, #ethnicity, #description, #religion {
  margin-top: 20px;
  font-family: 'Lexend Deca', sans-serif;
}

.height_container, .hair_color_container, .gender_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form_labels {
  font-size: 20px;
}

select {
  padding: 3px;
  margin-right: 5px;
  border: 1px solid #383838;
  border-radius: 4px;
  width: 80px;
}

.form_input {
    width: 80px;
    padding: 5px 10px; 
    border-radius: 4px;
    color: #383838;
    border: 1px solid #383838;
}

.form_input::placeholder {
  font-size: 15px;
}

.radio-toolbar label {
    display: inline-block;
    color: #383838;
    padding: 5px 10px; 
    font-size: 16px;
    border: .5px solid #383838;
    border-radius: 4px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar {
  margin-top: 15px;
  margin-left: 5px;
}

.male_label {
  margin-right: 10px;
}

.radio-toolbar .female_label:hover, .radio-toolbar input[type="radio"]:checked + .female_label {
  background-color: #D1345b;
  border-color: #383838;
  color: white;
}

.radio-toolbar .male_label:hover, .radio-toolbar input[type="radio"]:checked + .male_label  {
  background-color: #3b5593;
  color: white;
  border-color: #383838;;
}


.form_one_button_container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

.skip-button, .next-button, .interests_button { 
  background: #04dbac;
  padding: 5px 10px; 
  font-size: 16px;
  color: #383838;
  font-family: 'Lexend Deca', sans-serif;
  border: none;
  border-radius: 4px;
}

.preferences_div {
  margin-bottom: 20px;
}

.skip-button:hover, .next-button:hover, .interests_button:hover {
  background: gray;
  color: white;
}

.preferences_button {
  margin-bottom: 20px;
}

.interests_button {
  margin-top: 20px;
}

.description {
  border: .5px solid #383838;
  border-radius: 4px;
}

.description::placeholder {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  text-align: center;
}

.intro_extro {
  display: flex;
  align-items: center;
  width: 80vw;
  margin-top: 20px;
  font-size: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #383838;
  cursor: pointer;
}


