.register {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.register2 {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.register_container {
  background: white;
  width: 40vw;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.register_container1 {
  background: white;
  width: 40vw;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}
.register_container2 {
  background: white;
  width: 40vw;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.register_container3 {
  background: white;
  width: 40vw;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
}

.reg {
  width: 90%;
}

#reg_text {
  color: black;
  font-size: 17pt;
  letter-spacing: 1pt;
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
}

.about_form {
  width: 85%;
  margin-top: 20px;
  text-align: left;
}

.about_you_header {
  text-align: center;
  text-decoration: underline;
  color: #04dbac;
}

.form_container {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#height {
  font-size: 12pt;
  width: 42%;
  margin-left: 10px;
}

#hair {
  font-size: 12pt;
  width: 89%;
  margin-left: 10px;
}

#pref {
  font-size: 12pt;
  width: 100%;
  margin-left: 10px;
}

.height_container,
.hair_color_container,
.gender_container {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.form_labels {
  font-size: 20px;
}

.about_right {
  width: 100%;
}

.verts_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  padding-top: 2pt;
}

.verts {
  width: 100%;
  display: flex;
  padding-top: 5px;
  justify-content: center;
  padding-bottom: 7px;
}

.about_text {
  width: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}
.about_text1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  padding-bottom: 5px;
}

select {
  padding: 3px;
  margin-right: 5px;
  border: 1px solid #black;
  border-radius: 4px;
  width: 80px;
}

.form_input {
  width: 90%;
  border: none;
  font-size: 13pt;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px black solid;
}

.age_input {
  width: 40%;
  border: none;
  font-size: 13pt;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px black solid;
}

.form_input::placeholder {
  font-size: 13pt;
  font-family: Arial, Helvetica, sans-serif;
}

.about_line {
  display: flex;
  width: 100%;
  padding: 10px 0px;
}
.about_line1 {
  width: 100%;
  padding: 10px 0px 10px 0px;
}

#max_age {
  margin-left: 10px;
}

.radio-toolbar label {
  display: inline-block;
  color: #383838;
  background: rgb(219, 219, 219);
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 4px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar {
  margin-top: -5px;
  margin-left: 10px;
}

.male_label {
  margin-right: 10px;
}

.radio-toolbar .female_label:hover,
.radio-toolbar input[type="radio"]:checked + .female_label {
  background-color: #df476d;
  border-color: #383838;
  color: white;
}

.radio-toolbar .male_label:hover,
.radio-toolbar input[type="radio"]:checked + .male_label {
  background-color: #2370b8;
  color: white;
  border-color: #383838;
}

.button_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reg_buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about-button {
  padding: 10px;
  font-size: 15px;
  width: 75px;
  background: #00c59a;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}

.skip-button,
.next-button {
  padding: 10px;
  font-size: 15px;
  width: 75px;
  background: #00c59a;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}

.interests_button {
  padding: 10px;
  font-size: 15px;
  background: #00c59a;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
}

.interests {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 18pt;
  text-transform: capitalize;
}

.preferences_div {
  margin-top: 5px;
  margin-bottom: 15px;
}

.skip-button:hover,
.next-button:hover,
.interests_button:hover {
  background: rgb(0, 163, 128);
}

.preferences_button {
  margin-bottom: 20px;
}

.interests_button {
  margin-top: 20px;
}

.description {
  border: 0.5px solid #383838;
  border-radius: 4px;
  width: 98.5%;
}

.description::placeholder {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  text-align: center;
}

.intro_extro {
  display: flex;
  align-items: center;
  width: 80vw;
  margin-top: 20px;
  font-size: 20px;
}

.slider {
  -webkit-appearance: none;
  width: 250px;
  height: 5px;
  background: rgb(209, 209, 209);
  outline: none;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 25px;
  border-radius: 45%;
  background: #00c599;
  cursor: pointer;
}

.Login2:nth-child() {
  display: none;
}

.Pref2:nth-child(2) {
  display: none;
}

@media (max-width: 480px) {
  .register2 {
    height: 100vh;
    width: 100vw;
    margin: auto;
  }
  .register_container,
  .register_container1,
  .register_container2 {
    width: 75vw;
  }
  .register_container {
    margin-top: 75px;
    margin-bottom: 50px;
  }

  .register_container2 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .register_container3 {
    width: 75vw;
    margin-top: 250px;
    margin-bottom: 50px;
  }

  #reg_text {
    font-size: 16pt;
    color: #01c59a;
    letter-spacing: -0.5pt;
  }
  #circle {
    display: none;
  }
  .about_text,
  .about_text1 {
    width: 120px;
    font-size: 12pt;
  }
  #height,
  #hair,
  #pref {
    font-size: 11pt;
  }
  .slider {
    -webkit-appearance: none;
    width: 100px;
    height: 5px;
    background: rgb(209, 209, 209);
    outline: none;
  }
}
